body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #343164;
    overflow-x: hidden;
}

#resume {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #343164;
    display: flex;
    padding: 6px 0 0 0;
    margin: 0;
}

#resume:before,
#resume:after {
    content: "";
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    top: 1px;
    bottom: 1px;
    left: 0;
    /* 
    -moz-border-radius: 100px / 7px;
    border-radius: 100px / 7px; */
}

.left {
    height: 100%;
    /* width: 25%; */
    margin: 0;
    padding-bottom: 14px;
}

.middle {
    height: 95%;
    /* width: 45%; */
    background-color: #EAF2FF;
    margin: auto;
    align-content: center;
}

.right {
    height: 100%;
    /* width: 29%; */
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    align-content: center;
}


/* PHOTOGRAPH============ */

#photo_outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: auto;
    margin-top: 7%;
    padding-top: 3px;
    border: 2px solid white;
}

#photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
    background: url(../images/bg3.jpg);
    background-size: 95% 100%;
    border: 2px solid white;
}

#r_name {
    width: 100%;
    color: white;
    font-size: 20px;
}

#hr_line {
    height: 2px;
    width: 80%;
    margin: auto;
    background-color: aliceblue;
}

.head_bg {
    display: flex;
    height: 30px;
    width: 70%;
    background-color: #34C7E0;
    padding: auto;
    justify-content: center;
}

.heading {
    /* color: white; */
    font-size: 18px;
    font-family: 'Times New Romamn';
}

.left_content {
    color: white;
    font-size: 12px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}


/* SOCIAL LINKS============= */

#social_links {
    margin-left: 10px;
    margin-top: 10px;
    height: auto;
    width: 40%;
    /*   background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}

.links:hover {
    fill: white !important;
    cursor: pointer;
}


/* Education============== */

.head_bgm {
    display: flex;
    height: 35px;
    width: 70%;
    margin-top: 15px;
    background-color: #34C7E0;
    padding-left: 20px;
    justify-content: center;
}

.heading_middle {
    /* color: white; */
    font-size: 20px;
    line-height: 35px;
    font-family: 'Times New Romamn';
}

.middle_content {
    color: white;
    font-size: 12px;
    width: 90%;
    margin: auto;
    /* background-color: palegreen; */
}

#education {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 300px;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.grid-container>div {
    color: black;
    text-align: center;
    font-size: 12px;
}

#intern {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 250px;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

#hobbies {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

#hobbies>div {
    text-align: left;
}


/* SKILLS================ */

.head_bgr {
    display: flex;
    height: 35px;
    width: 70%;
    margin-top: 15px;
    background-color: #34C7E0;
    padding-left: 20px;
    justify-content: center;
}

.heading_right {
    /* color: white; */
    font-size: 20px;
    line-height: 35px;
    font-family: 'Times New Romamn';
}

.right_content {
    color: white;
    font-size: 14px;
    width: 90%;
    margin: auto;
}

#skills {
    display: grid;
    width: 100%;
    grid-template-columns: 150px 200px;
    grid-gap: 5px;
    padding: 5px;
    margin-top: 20px;
}

#skills>div {
    color: white;
}

.fa {
    color: black;
}

.checked {
    color: gainsboro;
}

hr#skill_line {
    border: 1px dotted gray;
    width: 80%;
}

#language {
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    font-size: 13px;
}


/* NAVIGATION BAR===========*/

#nav_bar {
    width: 25vw;
    height: 6vh;
    z-index: 10;
    display: flex;
}

.sub-menu a {
    color: #333;
    text-decoration: none;
}

.open {
    position: fixed;
    width: 70px;
    height: 30px;
    display: block;
    cursor: pointer;
    left: 10px;
    align-self: flex-start;
    transition: opacity 0.2s linear;
}

.open:hover {
    opacity: 0.8;
}

.open span {
    display: block;
    float: right;
    clear: both;
    height: 2px;
    width: 30px;
    border-radius: 10px;
    background-color: gainsboro;
    position: absolute;
    /* right: 3px; */
    overflow: hidden;
    transition: all 0.4s ease;
}

.open span:nth-child(1) {
    margin-top: 10px;
    z-index: 9;
}

.open span:nth-child(2) {
    margin-top: 20px;
}

.open span:nth-child(3) {
    margin-top: 30px;
}

.sub-menu {
    transition: all 0.8s;
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(38, 84, 133, 0.54);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden;
}

.sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s;
}

.sub-menu li:first-child {
    margin-top: 180px;
}

.sub-menu li:nth-child(1) {
    -webkit-transition-delay: 0.05s;
}

.sub-menu li:nth-child(2) {
    -webkit-transition-delay: 0.10s;
}

.sub-menu li:nth-child(3) {
    -webkit-transition-delay: 0.15s;
}

.sub-menu li:nth-child(4) {
    -webkit-transition-delay: 0.20s;
}

.sub-menu li:nth-child(5) {
    -webkit-transition-delay: 0.25s;
}

.sub-menu li a {
    color: black;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    float: left;
    line-height: 40px;
}

.sub-menu li a:hover {
    font-size: 18px;
}

.oppenned .sub-menu {
    opacity: 1;
    height: 400px;
    width: 400px;
}

.oppenned span:nth-child(2) {
    overflow: visible;
}

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
    z-index: 100;
    transform: rotate(40deg);
}

.oppenned span:nth-child(1) {
    transform: rotate(40deg) translateY(8px) translateX(8px);
}

.oppenned span:nth-child(2) {
    height: 400px;
    width: 400px;
    right: -160px;
    top: -160px;
    border-radius: 50%;
    /* background-color: rgba(38, 84, 133, 0.54); */
}

.oppenned span:nth-child(3) {
    transform: rotate(-40deg) translateY(-6px) translateX(6px);
}

.oppenned li {
    margin-right: 168px;
}